/*@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); /*font-family: 'Kaushan Script', cursive;*/
/*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap'); /*font-family: 'Nunito', sans-serif;*/
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap'); /*font-family: 'Open Sans', sans-serif;*/
@import url('reset.css');
@font-face {
	font-family: 'Kaushan Script';
	src: url('../fonts/Kaushan_Script/KaushanScript-Regular.eot');
	src: local('☺'), url('../fonts/Kaushan_Script/KaushanScript-Regular.woff') format('woff'), 
    url('../fonts/Kaushan_Script/KaushanScript-Regular.ttf') format('truetype'), 
    url('../fonts/Kaushan_Script/KaushanScript-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-ExtraLight.ttf');
    src: url('../fonts/Nunito/Nunito-ExtraLight.eot');
    src: url('../fonts/Nunito/Nunito-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nunito/Nunito-ExtraLight.woff2') format('woff2'),
        url('../fonts/Nunito/Nunito-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Bold.ttf');
    src: url('../fonts/Nunito/Nunito-Bold.eot');
    src: url('../fonts/Nunito/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nunito/Nunito-Bold.woff2') format('woff2'),
        url('../fonts/Nunito/Nunito-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Regular.ttf');
    src: url('../fonts/Nunito/Nunito-Regular.eot');
    src: url('../fonts/Nunito/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nunito/Nunito-Regular.woff2') format('woff2'),
        url('../fonts/Nunito/Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-SemiBold.ttf');
    src: url('../fonts/Nunito/Nunito-SemiBold.eot');
    src: url('../fonts/Nunito/Nunito-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nunito/Nunito-SemiBold.woff2') format('woff2'),
        url('../fonts/Nunito/Nunito-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf');
    src: url('../fonts/Open_Sans/OpenSans-SemiBold.eot');
    src: url('../fonts/Open_Sans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Open_Sans/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/Open_Sans/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
    src: url('../fonts/Open_Sans/OpenSans-Regular.eot');
    src: url('../fonts/Open_Sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Open_Sans/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/Open_Sans/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html{
    scroll-behavior: smooth;
}
/*main*/
body{
    background: white;
}
/*header*/
header{
    display: flex;
    height: 667px;
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url('../images/layer1.png') 50% / cover;
}
.wrapper{
    position: relative;
    width: 1110px;
    margin: 65px auto 210px;
    /*outline: 1px solid white;*/
}
.first{
    display:flex;
    justify-content: space-between;
}
.logo a{
    text-decoration: none;
    width: 152px;
    height: 43px;
}
.header_menu{
    font-size: 0;
}
.header_menu li {
    display: inline-block;
    padding: 0 20px;
}
.header_menu li:last-child{
    padding: 0 0 0 20px;
}
.header_menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.45px;
    line-height: 42px;
    text-align: right;
}
.header_menu li a:hover{
    border-bottom:2px solid rgb(255, 255, 255);
}
/*section1*/
.section1{
    margin-top: 91px;
}
.content1{
    color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.2px;
    line-height: 60px;
    text-align: center;
}
.content1_1{
    color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.2px;
    line-height: 50px;
    vertical-align: text-top;
}
.content2{
    color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
    text-align: center;
    margin-top: 5px;
}
.gave{
    margin-top: 28px;
}
.content3{
    color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.45px;
    line-height: 36px;
    text-align: center;
}
.content4{
    color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.45px;
    line-height: 36px;
    text-align: center;
}
section.section1{
    margin-top: 123px;
}
.section1_menu{
    text-align: center;
    margin-top: 33px;
}
.section1_menu li {
    display: inline-block;
    text-align: center;
    margin: 0 11px;
}
.section1_menu li a{
    display: inline-block;
    text-decoration: none;
    width: 160px;
    height: 40px;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 40px;
}
.section1_menu li a:hover{
    color: black;
    background: white;
}
.mark_wite{
    position: relative;
   margin: 138px auto 0;
}
.check_mark_wite{
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    border-top: 4px solid white;
    border-right: 4px solid white;
    rotate: 135deg;
    bottom: 5px;
    left: 50%;
    transform: translate(35%,35%);
}
/*section2*/
.section2{
    display:flex;
    flex-flow: row wrap;
    background: linear-gradient(rgb(255, 255, 255, 0.41), rgb(255, 255, 255, 0.41)), url('../images/layer2.png') 50% / cover;
    margin: 0 auto;
    height: 646px;
}
.wrapper_section2{
    position: relative;
    width: 1110px;
    margin: 53px auto 50px;
    /*outline: 1px solid black;*/
}
.content5{
    color: rgb(15, 20, 23);
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.8px;
    line-height: 28px;
    text-align: center;
}
.section2_content{
    margin-top: 21px;
}
.content6{
    color: rgb(15, 20, 23);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 30px;
    text-align: center;
}
.figure2{
    width: 120px;
    height: 9px;
    background: url('../images/css_sprites.png') -101px -267px;
    margin: 37px auto 12px auto;
}
.baget{
    position: relative;
    width: 755px;
    height: 292px;
    background: url('../images/Baget_Pic.png');
    background-size: 755px 292px;
    margin: 0 auto;
}
.baget_left1{
    position: absolute;
    color: rgb(15, 20, 23);
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: right;
    top: 18px;
    left: -110px;
}
.baget_left1::before{
    position: absolute;
    content: "";
    width: 24px;
    height: 44px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: skew(50deg);
    top: 18.5px;
    left: 156.5px;
}
.baget_left1::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    top: 10.5px;
    left: 114px;
}
.left_mark1::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: skew(170deg);
    rotate: 130deg;
    top: 14px;
    left: 117px;
}
.baget_left2{
    position: absolute;
    color: rgb(15, 20, 23);
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: right;
    top: 62px;
    left: -140px;
}
.baget_left2::before{
    position: absolute;
    content: "";
    width: 24px;
    height: 44px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: skew(60deg);
    top: 18.5px;
    left: 149.5px;
}
.baget_left2::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    top: 10.5px;
    left: 95px;
}
.left_mark2::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: skew(170deg);
    rotate: 130deg;
    top: 15px;
    left: 98px;
}
.baget_left3{
    position: absolute;
    color: rgb(15, 20, 23);
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: right;
    top: 120px;
    left: -125px;
}
.baget_left3::before{
    position: absolute;
    content: "";
    width: 24px;
    height: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: skew(-70deg);
    top: -2px;
    left: 125px;
}
.baget_left3::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    top: 10.5px;
    left: 81px;
}
.left_mark3::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: skew(170deg);
    rotate: 130deg;
    top: 14.5px;
    left: 84px;
}
.baget_left4{
    position: absolute;
    color: rgb(15, 20, 23);
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: right;
    top: 170px;
    left: -125px;
}
.baget_left4::before{
    position: absolute;
    content: "";
    width: 24px;
    height: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: skew(-70deg);
    top: -2px;
    left: 125px;
}
.baget_left4::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    top: 10.5px;
    left: 81px;
}
.left_mark4::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: skew(170deg);
    rotate: 130deg;
    top: 15px;
    left: 84px;
}
.baget_right1{
    position: absolute;
    width: 119px;
    color: rgb(15, 20, 23);
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: right;
    top: 2px;
    left: 760px;
}
.baget_right1::before{
    position: absolute;
    content: "";
    width: 24px;
    height: 44px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    transform: skew(-50deg);
    top: 17.5px;
    left: -81px;
}
.baget_right1::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    top: 9px;
    left: -30px;
}
.right_mark1::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: skew(170deg);
    rotate: 130deg;
    top: 14px;
    left: -27px;
}
.baget_right2{
    position: absolute;
    width: 105px;
    color: rgb(15, 20, 23);
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: right;
    top: 50px;
    left: 820px;
}
.baget_right2::before{
    position: absolute;
    content: "";
    width: 24px;
    height: 44px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    transform: skew(-60deg);
    top: 17.5px;
    left: -92px;
}
.baget_right2::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    top: 9px;
    left: -30px;
} 
.right_mark2::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: skew(170deg);
    rotate: 130deg;
    top: 14px;
    left: -27px;
}
.baget_right3{
    position: absolute;
    width: 67px;
    color: rgb(15, 20, 23);
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: right;
    top: 130px;
    left: 820px;
}
.baget_right3::before{
    position: absolute;
    content: "";
    width: 24px;
    height: 25px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    transform: skew(70deg);
    top: -9px;
    left: -89.5px;
}
.baget_right3::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    top: 9px;
    left: -30px;
}
.right_mark3::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: skew(170deg);
    rotate: 130deg;
    top: 13px;
    left: -27px;
}
.baget_right4{
    position: absolute;
    width: 67px;
    color: rgb(15, 20, 23);
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: right;
    top: 190px;
    left: 805px;
}
.baget_right4::before{
    position: absolute;
    content: "";
    width: 24px;
    height: 55px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    transform: skew(50deg);
    top: -38px;
    left: -72px;
}
.baget_right4::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    top: 9px;
    left: -15px;
}
.right_mark4::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: skew(170deg);
    rotate: 130deg;
    top: 13px;
    left: -12px;
}
.check_mark_black{
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-top: 4px solid black;
    border-right: 4px solid black;
    rotate: 135deg;
    bottom: -55px;
    left: 50%;
    transform: translate(35%,35%);
}
/*section3*/
.section3{
    display:flex;
    margin: 0 auto;
    height: 677px;
}
.wrapper_section3{
    width: 1110px;
    margin: 0 auto;
}
.frame_section3{
    position: relative;
    width: 842px;
    height: 591px;
    margin: 65px auto 64px;
    /*outline: 1px solid black;*/
}
.content7{
    color: rgb(15, 20, 23);
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.8px;
    line-height: 20px;
    text-align: center;
}
.slider{
    position: relative;
    width: 842px;
    height: 321px;
    /*outline: 1px solid black;*/
    margin: 41px 0 0 0;
}
.slider_navigation{
    display: inline-block;
    position: relative;
    width: 842px;
    height: 271px
}
.slider_check_left{
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    rotate: 225deg;
    top: 50%;
    transform: translateY(50%);
    left: -4px;
}
.slider_wrapper{
    display: flex;
    /*width: 760px;*/
    /*height: 271px;*/
    /*outline: 1px solid black;*/
    margin: 0 41px;
}
.slider__item{
    width: 160px;
    height: 272px;
    box-shadow: 0 6px 9px rgba(2, 6, 18, 0.04);
    background-color: rgb(255, 255, 255);
    margin: 0 15px;
    text-align: center;
}
.slider_image{
    margin: 19px 25px 0 25px;
    border-radius: 50%;
}
.slider_content1{
    display: inline-flex;
    width: 120px;
    height: 28px;
    color: rgb(15, 20, 23);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    margin: 14px auto 18px auto;
}
.slider_content2{
    color: rgb(15, 20, 23);
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: center;
}
.slider_content3{
    display: inline-flex;
    width: 42px;
    height: 14px;
    color: rgb(15, 20, 23);
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: 18px;
    text-align: center;
    margin-top: 9px;
}
.slider_check_right{
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    rotate: 45deg;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}
.slider_navigation1{
    position: absolute;
    height: 7px;
    /*outline: 1px solid black;*/
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
ul.point{
    font-size: 0;
    padding: 0.3px 2px;
}
.point li{
    display:inline-block;
    padding: 0 2.2px;
}
.point li a{
    display: block;
    width: 5px;
    height: 5px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
}
li.active a{
    background: black;
}
.slider_content4{
    display:block;
    color: rgb(23, 14, 14);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 10px;
    text-align: center;
    margin-top: 46px;
}
.slider_content5{
    display:block;
    color: rgb(23, 14, 14);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 10px;
    text-align: center;
    margin: 14px 0 45px 0;
}
.slider_menu{
    text-align: center;
}
.slider_menu li {
    display: inline-block;
    border: 2px solid black;
    text-align: center;
    margin: 0 11px;
}
.slider_menu li a{
    display: inline-block;
    text-decoration: none;
    width: 160px;
    height: 40px;
    color: rgb(8, 16, 19);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 40px;
}
.slider_menu li a:hover{
    color: rgb(255, 255, 255);
    background: black;
}
/*section4*/
.section4{
    flex-flow: row wrap;
    height: 527px;
    background-image: linear-gradient(rgb(1, 0, 0, 0.68), rgb(1, 0, 0, 0.68)), url('../images/layer4.png');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}
.wrapper_section4{
    display:flex;
    width: 1110px;
    margin: 0 auto;
}
.frame_section4{
    position: relative;
    height: 409px;
    margin: 64px auto 57px;
    /*outline: 1px solid white;*/
    text-align: center;
}
.content8{
    color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.8px;
    line-height: 20px;
    text-align: center;
}
.content9{
    color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 30px;
    text-align: center;
    margin-top: 28px;
}
.figure3{
    width: 120px;
    height: 9px;
    background: url('../images/css_sprites.png') -101px -218px;
    margin: 32px auto 0 auto;
}
.logos_section4{
    display: flex;
    width: 756px;
    flex-wrap: wrap;
}
.logo_section4{
    display:inline-flex;
    align-items: center;
    margin: 51px 15px 26px;
}
.logo_section4_second{
    display:inline-flex;
    align-items: center;
    margin: 0 15px;
}
.check_mark_wite_section4{
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-top: 4px solid white;
    border-right: 4px solid white;
    rotate: 135deg;
    bottom: 6px;
    left:50%;
    transform: translate(35%,35%);
}
/*section5*/
.section5{
    display:flex;
    flex-flow: row wrap;
    height: 474px;
    margin: 0 auto;
}
.wrapper_section5{
    position: relative;
    width: 1110px;
    height: 351px;
    margin: 64px auto 57px auto;
    /*outline: 1px solid black;*/
    text-align: center;
}
.content10{
    color: rgb(11, 8, 6);
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.8px;
    line-height: 52px;
    text-align: center;
}
.facts{
   display: flex;
   width: 1100px;
   margin: 0 auto;
   justify-content: center;
}
.fact:first-child{
    margin: 0 15px 0 0;
}
.fact:last-child{
    margin: 0 0 0 15px;
}
.fact{
    width: 160px;
    height: 311px;
    /*outline: 1px solid black;*/
    text-align: center;
    margin: 0 15px;
}
.image_section5{
    width: 70px;
    height: 70px;
    background: url('../images/css_sprites.png') -121px -15px;
    margin: 40px auto 12px auto;
}
.image2{
    background-position: -216px -104px;
}
.image3{
    background-position: -218px -10px;
}
.image4{
    background-position: -115px -100px;
}
.image5{
    background-position: -13px -115px;
}
.image6{
    background-position: -11px -15px;
}
.content11{
    color: rgb(11, 8, 6);
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 4px;
}
.content12{
    width: 135px;
    height: 49px;
    color: rgb(11, 8, 6);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: center;
    margin: 0 auto;
}
.content13{
    width: 140px;
    color: rgb(11, 8, 6);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: center;
    margin: 0 auto;
}
.check_mark_black_section5{
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-top: 4px solid black;
    border-right: 4px solid black;
    rotate: 135deg;
    bottom: 6px;
    left: 50%;
    transform: translate(35%,35%);
}
/*section6*/
.section6{
    display: flex;
    height: 661px;
    background-image: linear-gradient(rgb(249, 247, 247, 1), rgb(249, 247, 247, 1));
}
.wrapper_section6{
    display:inline-flex;
    width: 1110px;
    height: 500px;
    /*outline: 1px solid black;*/
    margin: 80px auto 0 auto;
}
.frame_section6{
    width: 640px;
}
.content14{
    height: 29px;
    color: rgb(11, 8, 6);
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.6px;
    line-height: 30px;
    text-align: left;
}
.content15{
    height: 13px;
    color: rgb(11, 8, 6);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 30px;
    text-align: left;
    margin-top: 31px;
}
.content16{
    height: 73px;
    color: rgb(11, 8, 6);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.3px;
    line-height: 30px;
    text-align: left;
    margin-top: 32px;
}
.content17{
    height: 43px;
    color: rgb(11, 8, 6);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.33px;
    line-height: 30px;
    text-align: left;
    margin: 34px 0 55px 0;
}
input[type="email"]{
    width: 306px;
    height: 38px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 0 20px;
}
.checkbox{
    margin: 5px 0 5px 0;
}
input[type="checkbox"]{
	display: none;
}
label{
    color: #000101;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.12px;
    line-height: 30px;
    text-align: left;
}
input[type="checkbox"]+label{
	padding: 5px 0 5px 35px;
	position: relative;
	display: inline-block;
}
input[type="checkbox"]+label::before{
	content: "";
	position: absolute;
	height: 18px;
	width: 18px;
	background: rgb(195, 208, 217);
	border: 1px solid rgb(0, 0, 0);
	top: 9px;
	left: 0;
}
input[type="checkbox"]:checked+label::before{
    height: 20px;
	width: 20px;
    border: 1px solid rgb(0, 0, 0);
	background: rgb(195, 208, 217);
}
input[type="checkbox"]:checked+label::after{
    content: "";
    position: absolute;
	height: 10px;
	width: 10px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    rotate: 225deg;
    top: 11px;
	left: 5px;
}
.section6_button{
    display: inline-block;
    text-align: center;
}
.section6_button li {
    display: inline-block;
    border: 2px solid black;
    text-align: center;
    margin: 0 28px 0 0;
}
.section6_button li a{
    display: inline-block;
    text-decoration: none;
    width: 156px;
    height: 36px;
    color: rgb(8, 16, 19);
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 40px;
}
.section6_button li a:hover{
    color: rgb(255, 255, 255);
    background: black;
}
.coupon{
    position: relative;
    width: 445px;
    height: 500px;
    border: 3px dashed rgb(0, 0, 0);
    border-image:url('../images/Coupon_Outline.png') 3 3 / 3px / 0 repeat stretch;
    margin-left: 30px;
}
.coupon::before{
    position: absolute;
    content: "";
    width: 41px;
    height: 62px;
    background:url('../images/css_sprites.png') -20px -218px;
    top: 361px;
    left: -20.5px;
}
.content18{
    color: rgb(11, 8, 6);
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1.2px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    margin: 58px 0 5px 5px;
}
.content19{
    color: rgb(11, 8, 6);
    font-family: 'Open Sans', sans-serif;
    font-size: 120px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 6px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    margin: 19px 0 45px 0;
}
.content20{
    color: rgb(11, 8, 6);
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.6px;
    line-height: 24px;
    text-align: center;
}
.content21{
    height: 59px;
    color: rgb(11, 8, 6);
    font-family: 'Kaushan Script', cursive;
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.2px;
    line-height: 42px;
    text-align: center;
    margin: 12px auto 0 auto;
}
.content22{
    height: 50px;
    color: rgb(11, 8, 6);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 18px;
    text-align: center;
    margin: 33px auto 0 auto;
}
/*section7*/
.section7{
    display: flex;
    height: 234px;
    background: url('../images/layer7.png') 50% / cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}
.wrapper_section7{
    width: 1110px;
    margin: 0 auto;
}
.frame_section7{
    display:inline-flex;
    width: 1078px;
    height: 103px;
    /*outline: 1px solid white;*/
    margin: 50px auto 0 auto;
}
.content23{
    color: rgb(255, 255, 255);
    font-family: 'Kaushan Script', cursive;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: 48px;
}
.content24{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.3px;
    line-height: 12px;
    text-align: left;
    margin-top: 23px;
}
.content24_1{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.3px;
    line-height: 12px;
    text-align: left;
    vertical-align: text-top;
}
.socmenu{
    margin-left: 545px;
}
.content25{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: 16px;
    text-align: left;
    margin: 16px 0 18px 0;
}
.content26{
    width: 120px;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 14px;
    text-align: left;
    margin-bottom: 10px;
}
.soc_menu{
    text-align: left;
    vertical-align: middle;
}

.soc_menu li {
    display: inline-block;
}
.soc_menu li a {
    background: url('../images/css_sprites.png');
    display: block;
    width: 27px;
    height: 27px;
    margin-right: 8px;
    border-radius: 5px;
}
.soc_menu li.twitter a {
    background-position: -322px -86px;
}

.soc_menu .instagram a {
    background-position: -322px -20px;
}

.soc_menu .facebook a {
    background-position: -321.5px -152px;
}

.contact{
    margin-left: 71px;
}
.content27{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: 16px;
    text-align: left;
    margin-top: 16px;
}
.contsct_us{
    margin-top: 17px;
}
.telephone1{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 14px;
    text-align: left;
    margin: 21px 0 8px 0;
}
.contsct_us2{
    margin: 5px 0 8px 0;
}
.telephone2{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 14px;
    text-align: left;
    margin-bottom: 8px;
}
.mail{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 14px;
    text-align: left;
}
.contact a{
    text-decoration: none;
}