@import url('reset.css');
/*@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); /*font-family: 'Kaushan Script', cursive;*/
/*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap'); /*font-family: 'Nunito', sans-serif;*/
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap'); /*font-family: 'Open Sans', sans-serif;*/
@font-face {
    font-family: 'Kaushan_Script';
    src: url('../fonts/Kaushan_Script/KaushanScript-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Regular.ttf'),
        url('../fonts/Nunito/Nunito-Bold.ttf'),
        url('../fonts/Nunito/Nunito-ExtraLight.ttf'),
        url('../fonts/Nunito/Nunito-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open_Sans';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf'),
        url('../fonts/Open_Sans/OpenSans-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}
/*main*/
body{
    background: white;
}
/*header*/
header{
    display: flex;
    height: 670px;
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url('../images/layer1.png');
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}
.wrapper{
    position: relative;
    width: 1110px;
    margin: 65px auto 30px;
    /*outline: 1px solid white;*/
}
.first{
    display:flex;
    justify-content: space-between;
}
.logo{
    display: inline-flex;
}
.logo a{
    text-decoration: none;
    width: 152px;
    height: 43px;
}
.header_menu{
    font-size: 0;
}
.header_menu li {
    display: inline-block;
    padding: 0 20px;
}
.header_menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Nunito - Semi Bold";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: right;
}
.header_menu li a:hover{
    border-bottom:2px solid rgb(255, 255, 255);
}
/*section1*/
.section1{
    margin-top: 106px;
}
.content1{
    color: rgb(255, 255, 255);
    font-family: "Nunito - Semi Bold";
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 60px;
    text-align: center;
}
.content1_1{
    color: rgb(255, 255, 255);
    font-family: "Nunito - Semi Bold";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.2px;
    line-height: normal;
    vertical-align: text-top;
}
.content2{
    color: rgb(255, 255, 255);
    font-family: "Nunito - Semi Bold";
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
    text-align: center;
}
.gave{
    margin-top: 47px;
}
.content3{
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: center;
}
.content4{
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: center;
}
section.section1{
    margin-top: 123px;
}
.section1_menu{
    text-align: center;
    margin-top: 43px;
}
.section1_menu li {
    display: inline-block;
    border: 2px solid white;
    text-align: center;
    margin: 0 15px;
}
.section1_menu li a{
    display: inline-block;
    text-decoration: none;
    width: 160px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40px;
}
.section1_menu li a:hover{
    color: black;
    background: white;
}
.check_mark_wite{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    rotate: 135deg;
    bottom: 5px;
    left: 50%;
    transform: translate(35%,35%);
}
/*section2*/
.section2{
    display:flex;
    flex-flow: row wrap;
    background-image: linear-gradient(rgb(255, 255, 255, 0.41), rgb(255, 255, 255, 0.41)), url('../images/layer2.png');
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    height: 646px;
}
.wrapper_section2{
    position: relative;
    width: 1110px;
    margin: 50px auto 50px;
    /*outline: 1px solid black;*/
}
.content5{
    color: rgb(15, 20, 23);
    font-family: Nunito;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: center;
}
.section2_content{
    margin-top: 36px;
}
.content6{
    color: rgb(15, 20, 23);
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: center;
}
.figure2{
    width: 120px;
    height: 9px;
    background: url('../images/css_sprites.png') -56px -143px;
    margin: 44px auto 12px auto;
}
.baget{
    position: relative;
    width: 755px;
    height: 292px;
    background: url('../images/Baget_Pic.png');
    background-size: 755px 292px;
    margin: 0 auto;
}
.baget_left1{
    position: absolute;
    color: rgb(15, 20, 23);
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: right;
    top: 18px;
    left: -110px;
}
.baget_left1::before{
    position: absolute;
    content: "";
    width: 24px;
    height: 44px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: skew(50deg);
    top: 18.5px;
    left: 156.5px;
}
.baget_left1::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    top: 10.5px;
    left: 114px;
}
.left_mark1::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: skew(170deg);
    rotate: 130deg;
    top: 32px;
    left: 7px;
}
.left_mark1::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: skew(170deg);
    rotate: 130deg;
    top: 76px;
    left: -42px;
}
.baget_left2{
    position: absolute;
    color: rgb(15, 20, 23);
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: right;
    top: 62px;
    left: -140px;
}
.baget_left2::before{
    position: absolute;
    content: "";
    width: 24px;
    height: 44px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: skew(60deg);
    top: 18.5px;
    left: 149.5px;
}
.baget_left2::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    top: 10.5px;
    left: 95px;
}
.baget_left3{
    position: absolute;
    color: rgb(15, 20, 23);
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: right;
    top: 120px;
    left: -125px;
}
.baget_left3::before{
    position: absolute;
    content: "";
    width: 24px;
    height: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: skew(-70deg);
    top: -2px;
    left: 125px;
}
.baget_left3::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    top: 10.5px;
    left: 81px;
}
.baget_left4{
    position: absolute;
    color: rgb(15, 20, 23);
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: right;
    top: 170px;
    left: -125px;
}
.baget_left4::before{
    position: absolute;
    content: "";
    width: 24px;
    height: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: skew(-70deg);
    top: -2px;
    left: 125px;
}
.baget_left4::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    top: 10.5px;
    left: 81px;
}
.left_mark2::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: skew(170deg);
    rotate: 130deg;
    top: 134px;
    left: -41px;
}
.left_mark2::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: skew(170deg);
    rotate: 130deg;
    top: 184.5px;
    left: -41px;
}
.baget_right1{
    position: absolute;
    width: 119px;
    color: rgb(15, 20, 23);
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: right;
    top: 2px;
    left: 760px;
}
.baget_right1::before{
    position: absolute;
    content: "";
    width: 24px;
    height: 44px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    transform: skew(-50deg);
    top: 17.5px;
    left: -81px;
}
.baget_right1::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    top: 9px;
    left: -30px;
} 
.baget_right2{
    position: absolute;
    width: 105px;
    color: rgb(15, 20, 23);
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: right;
    top: 50px;
    left: 820px;
}
.baget_right2::before{
    position: absolute;
    content: "";
    width: 24px;
    height: 44px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    transform: skew(-60deg);
    top: 17.5px;
    left: -92px;
}
.baget_right2::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    top: 9px;
    left: -30px;
} 
.right_mark1::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: skew(170deg);
    rotate: 130deg;
    top: 15px;
    left: 733px;
}
.right_mark1::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: skew(170deg);
    rotate: 130deg;
    top: 63px;
    left: 793px;
}
.baget_right3{
    position: absolute;
    width: 67px;
    color: rgb(15, 20, 23);
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: right;
    top: 130px;
    left: 820px;
}
.baget_right3::before{
    position: absolute;
    content: "";
    width: 24px;
    height: 25px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    transform: skew(70deg);
    top: -9px;
    left: -89.5px;
}
.baget_right3::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    top: 9px;
    left: -30px;
}
.baget_right4{
    position: absolute;
    width: 67px;
    color: rgb(15, 20, 23);
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: right;
    top: 190px;
    left: 805px;
}
.baget_right4::before{
    position: absolute;
    content: "";
    width: 24px;
    height: 55px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    transform: skew(50deg);
    top: -38px;
    left: -72px;
}
.baget_right4::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    top: 9px;
    left: -15px;
}
.right_mark2::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: skew(170deg);
    rotate: 130deg;
    top: 143px;
    left: 793px;
}
.right_mark2::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: skew(170deg);
    rotate: 130deg;
    top: 203px;
    left: 793px;
}
.check_mark_black{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    rotate: 135deg;
    bottom: -23px;
    left: 366.7px;
}
/*section3*/
.section3{
    display:flex;
    margin: 0 auto;
    height: 677px;
}
.wrapper_section3{
    width: 1110px;
    margin: 0 auto;
}
.frame_section3{
    position: relative;
    width: 842px;
    height: 591px;
    margin: 62px auto 64px;
    /*outline: 1px solid black;*/
}
.content7{
    color: rgb(15, 20, 23);
    font-family: Nunito;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: center;
}
.slider{
    position: relative;
    width: 842px;
    height: 321px;
    /*outline: 1px solid black;*/
    margin: 41px 0 0 0;
}
.slider_navigation{
    display: inline-block;
    position: relative;
    width: 842px;
    height: 271px
}
.slider_check_left{
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    rotate: 225deg;
    top: 50%;
    transform: translateY(50%);
    left: -4px;
}
.slider_wrapper{
    display: flex;
    width: 760px;
    height: 271px;
    /*outline: 1px solid black;*/
    margin: 0 auto;
}
.slider__item{
    width: 160px;
    height: 272px;
    box-shadow: 0 6px 9px rgba(2, 6, 18, 0.04);
    background-color: rgb(255, 255, 255);
    margin: 0 15px;
    text-align: center;
}
.slider_image{
    margin: 19px 25px 0 25px;
}
.slider_content1{
    display: inline-flex;
    width: 92px;
    height: 28px;
    color: rgb(15, 20, 23);
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    margin: 20px 34px 18px 34px;
}
.slider_content2{
    color: rgb(15, 20, 23);
    font-family: Nunito;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: center;
}
.slider_content3{
    display: inline-flex;
    width: 42px;
    height: 14px;
    color: rgb(15, 20, 23);
    font-family: "Open Sans - Semi Bold";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: center;
    margin-top: 16px;
}
.slider_check_right{
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    rotate: 45deg;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}
.slider_navigation1{
    position: absolute;
    height: 7px;
    /*outline: 1px solid black;*/
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
ul.point{
    font-size: 0;
    padding: 0.3px 2px;
}
.point li{
    display:inline-block;
    padding: 0 1px;
}
.point li a{
    display: block;
    width: 5px;
    height: 5px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
}
li.active a{
    background: black;
}
.slider_content4{
    display:block;
    color: rgb(23, 14, 14);
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    margin-top: 46px;
}
.slider_content5{
    display:block;
    color: rgb(23, 14, 14);
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    margin-bottom: 43px;
}
.slider_menu{
    text-align: center;
}
.slider_menu li {
    display: inline-block;
    border: 2px solid black;
    text-align: center;
    margin: 0 15px;
}
.slider_menu li a{
    display: inline-block;
    text-decoration: none;
    width: 160px;
    height: 40px;
    color: rgb(8, 16, 19);
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40px;
}
.slider_menu li a:hover{
    color: rgb(255, 255, 255);
    background: black;
}
/*section4*/
.section4{
    flex-flow: row wrap;
    height: 527px;
    background-image: linear-gradient(rgb(1, 0, 0, 0.68), rgb(1, 0, 0, 0.68)), url('../images/layer4.png');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}
.wrapper_section4{
    display:flex;
    width: 1110px;
    margin: 0 auto;
}
.frame_section4{
    position: relative;
    height: 409px;
    margin: 61px auto 57px;
    /*outline: 1px solid white;*/
    text-align: center;
}
.content8{
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-align: center;
}
.content9{
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: center;
    margin-top: 31px;
}
.figure3{
    width: 120px;
    height: 9px;
    background: url('../images/css_sprites.png') -56px -162px;
    margin: 40px auto 0 auto;
}
.logos_section4_first{
    display: flex;
}
.logo_section4{
    display:inline-flex;
    align-items: center;
    margin: 51px 15px 26px;
}
.logos_section4_second{
    display: flex;
}
.logo_section4_second{
    display:inline-flex;
    align-items: center;
    margin: 0 15px;
}
.check_mark_wite_section4{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    rotate: 135deg;
    bottom: 4px;
    left:50%;
    transform: translate(35%,35%);
}
/*section5*/
.section5{
    display:flex;
    flex-flow: row wrap;
    height: 474px;
    margin: 0 auto;
}
.wrapper_section5{
    position: relative;
    width: 1110px;
    height: 351px;
    margin: 61px auto 57px auto;
    /*outline: 1px solid black;*/
    text-align: center;
}
.content10{
    color: rgb(11, 8, 6);
    font-family: Nunito;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: center;
}
.facts{
   display: flex;
   width: 1100px;
   margin: 0 auto;
   justify-content: center;
}
.fact{
    display:flexbox;
    width: 160px;
    height: 311px;
    /*outline: 1px solid black;*/
    text-align: center;
    margin: 0 10px;
}
.image_section5{
    width: 61px;
    height: 61px;
    margin: 40px auto 30px auto;
}
.image1_section5{
    width: 60px;
    height: 60px;
    background: url('../images/css_sprites.png') -76px -5px;
    margin: .5px auto;
}
.image2_section5{
    width: 55px;
    height: 55px;
    background: url('../images/css_sprites.png') -146px -66px;
    margin: 3px auto;
}
.image3_section5{
    width: 61px;
    height: 51px;
    background: url('../images/css_sprites.png') -146px -5px;
    margin: 5px auto;
}
.image4_section5{
    display: inline-block;
    width: 60px;
    height: 30px;
    background: url('../images/css_sprites.png') -76px -76px;
    margin: 15px auto;
}
.image5_section5{
    width: 61px;
    height: 57px;
    background: url('../images/css_sprites.png') -5px -76px;
    margin: 2px auto;
}
.image6_section5{
    width: 61px;
    height: 61px;
    background: url('../images/css_sprites.png') -5px -5px;
    margin: auto auto;
}
.content11{
    color: rgb(11, 8, 6);
    font-family: Nunito;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: center;
    margin-bottom: 17px;
}
.content12{
    width: 135px;
    height: 49px;
    color: rgb(11, 8, 6);
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: center;
    margin: 0 auto;
}
.content13{
    width: 140px;
    color: rgb(11, 8, 6);
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: center;
    margin: 0 auto;
}
.check_mark_black_section5{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    rotate: 135deg;
    bottom: 30px;
    left: 50%;
    transform: translate(35%,35%);
}
/*section6*/
.section6{
    display: flex;
    height: 663px;
    background-image: linear-gradient(rgb(249, 247, 247, 1), rgb(249, 247, 247, 1));
}
.wrapper_section6{
    display:inline-flex;
    width: 1110px;
    height: 500px;
    /*outline: 1px solid black;*/
    margin: 82px auto 0 auto;
}
.frame_section6{
    width: 613px;
}
.content14{
    width: 202px;
    height: 29px;
    color: rgb(11, 8, 6);
    font-family: Nunito;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
}
.content15{
    width: 336px;
    height: 13px;
    color: rgb(11, 8, 6);
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
    margin-top: 38px;
}
.content16{
    height: 73px;
    color: rgb(11, 8, 6);
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
    margin-top: 32px;
}
.content17{
    height: 43px;
    color: rgb(11, 8, 6);
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
    margin: 34px 0 45px 0;
}
input[type="email"]{
    width: 348px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.checkbox{
    margin: 15px 0 16px 0;
}
input[type="checkbox"]{
	display: none;
}
label{
    color: #000101;
    font-family: "Nunito - Extra Light";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
}
input[type="checkbox"]+label{
	padding: 5px 0 5px 30px;
	position: relative;
	display: inline-block;
}
input[type="checkbox"]+label::before{
	content: "";
	position: absolute;
	height: 20px;
	width: 20px;
	background: rgb(195, 208, 217);
	border: 1px solid rgb(0, 0, 0);
	top: 9px;
	left: 0;
}
input[type="checkbox"]:checked+label::before{
    height: 20px;
	width: 20px;
    border: 1px solid rgb(0, 0, 0);
	background: rgb(195, 208, 217);
}
input[type="checkbox"]:checked+label::after{
    content: "";
    position: absolute;
	height: 10px;
	width: 10px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    rotate: 225deg;
    top: 11px;
	left: 5px;
}
.section6_button{
    display: inline-block;
    text-align: center;
}
.section6_button li {
    display: inline-block;
    border: 2px solid black;
    text-align: center;
    margin: 0 30px 0 0;
}
.section6_button li a{
    display: inline-block;
    text-decoration: none;
    width: 160px;
    height: 40px;
    color: rgb(8, 16, 19);
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40px;
}
.section6_button li a:hover{
    color: rgb(255, 255, 255);
    background: black;
}
.coupon{
    position: relative;
    width: 445px;
    height: 500px;
    border: 3px dashed rgb(0, 0, 0);
    border-image:url('../images/Coupon_Outline.png') 3 3 / 3px / 0 repeat stretch;
    margin-left: 40px;
}
.coupon::before{
    position: absolute;
    content: "";
    width: 41px;
    height: 62px;
    background:url('../images/css_sprites.png') -5px -143px;
    top: 365px;
    left: -20.5px;
}
.content18{
    color: rgb(11, 8, 6);
    font-family: "Open Sans - Semi Bold";
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    margin: 59px;
}
.content19{
    color: rgb(11, 8, 6);
    font-family: "Open Sans - Semi Bold";
    font-size: 120px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    margin: 19px 0 42px 0;
}
.content20{
    color: rgb(11, 8, 6);
    font-family: "Open Sans - Semi Bold";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
}
.content21{
    width: 202px;
    height: 59px;
    color: rgb(11, 8, 6);
    font-family: "Kaushan Script";
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 42px;
    text-align: center;
    margin: 8px auto 6px auto;
}
.content22{
    width: 235px;
    height: 50px;
    color: rgb(11, 8, 6);
    font-family: "Open Sans - Semi Bold";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: center;
    margin: 30px auto 0 auto;
}
/*section7*/
.section7{
    display: flex;
    height: 234px;
    background-image: url('../images/layer7.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}
.wrapper_section7{
    width: 1110px;
    margin: 0 auto;
}
.frame_section7{
    display:inline-flex;
    width: 1078px;
    height: 103px;
    /*outline: 1px solid white;*/
    margin: 57px auto 0 auto;
}
.content23{
    color: rgb(255, 255, 255);
    font-family: "Kaushan Script";
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: left;
}
.content24{
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 12px;
    text-align: left;
    margin-top: 25px;
}
.content24_1{
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 12px;
    text-align: left;
    vertical-align: text-top;
}
.socmenu{
    margin-left: 553px;
}
.content25{
    color: rgb(255, 255, 255);
    font-family: "Open Sans - Semi Bold";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 16px;
    text-align: left;
    margin: 8px 0 21px 0;
}
.content26{
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 14px;
    text-align: left;
    margin-bottom: 11px;
}
.soc_menu{
    text-align: left;
    vertical-align: middle;
}

.soc_menu li {
    display: inline-block;
}
.soc_menu li a {
    background: url('../images/css_sprites.png');
    display: block;
    width: 27px;
    height: 27px;
    margin-right: 12px;
}
.soc_menu li.twitter a {
    background-position: -217px -6px;
}

.soc_menu .instagram a {
    background-position: -217px -42px;
}

.soc_menu .facebook a {
    background-position: -217px -78px;
}

.contact{
    margin-left: 71px;
}
.content27{
    color: rgb(255, 255, 255);
    font-family: "Open Sans - Semi Bold";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 16px;
    text-align: left;
    margin-top: 8px;
}
.contsct_us{
    margin-top: 21px;
}
.telephone1{
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 14px;
    text-align: left;
    margin: 21px 0 8px 0;
}
.contsct_us2{
    margin: 5px 0 5px 0;
}
.telephone2{
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 14px;
    text-align: left;
    margin-bottom: 8px;
}
.mail{
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 14px;
    text-align: left;
}
.contact a{
    text-decoration: none;
}